@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(247, 245, 245);
}

.page-title {
  font-size: 35px;
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 100%;
    padding: 0 2rem;
  } */
}
